/* Styles for the navigation bar */
.navbar {
    background-color: #343a40;
}

.navbar-brand {
    color: white !important;
}

.navbar-toggler-icon {
    background-image: url('data:image/svg+xml;charset=utf8,%3Csvg viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath stroke="rgba%28255, 255, 255, 0.5%29" stroke-width="2" linecap="round" linejoin="round" d="M4 7h22M4 15h22M4 23h22"/%3E%3C/svg%3E');
}

.nav-link {
    color: white !important;
}

.nav-link:hover {
    color: rgb(5, 234, 219) !important;
}

.btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
}

.btn-danger a {
    color: white;
    text-decoration: none;
}

.btn-danger a:hover {
    color: white;
}

/* Styles for the doctor dashboard */
.grid {
    display: grid;
    gap: 20px;
}

.container {
    margin-top: 20px;
}

h2 {
    text-align: center;
    margin-top: 20px;
}

marquee {
    color: rgb(86, 86, 86);
    font-size: x-large;
}

input[type="text"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
}

.tableFixHead {
    overflow-y: auto;
    height: 400px;
}

.tableFixHead thead th {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #f8f9fa;
}

/* Styles for the table */
.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.05);
}

.table-header {
    background-color: #2380dd;
    color: white;
}

.table-header th {
    padding: 10px;
    text-align: left;
}

.table tbody tr {
    transition: background-color 0.3s;
}

.table tbody tr:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.table td, .table th {
    padding: 8px;
    text-align: left;
}

.btn {
    padding: 6px 12px;
    margin: 4px 2px;
    border: none;
    cursor: pointer;
}

.btn-info {
    background-color: #17a2b8;
    color: white;
}

.btn-info:hover {
    background-color: #138496;
}

.btn-danger {
    background-color: #dc3545;
    color: white;
}

.btn-danger:hover {
    background-color: #c82333;
}

.btn-success {
    background-color: #28a745;
    color: white;
}

.btn-success:hover {
    background-color: #218838;
}
